.greeting-class {
  padding: 13.5rem 1.5rem;
  text-align: center;
}

.monitoring-list {
  padding: 5.5rem 1.5rem;
  text-align: center;
}


.login {
    padding-top: 7%;
}

.signup {
    padding-top: 7%;
}
