{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container add-url">
        <h1>Adding URL to WebMonitor</h1>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> For proper working, you need to start your URL with <strong>http://</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
{% endblock content %}